absl==0.0
atari_py==0.2.9
click==8.1.8
cloudpickle==3.1.1
easydict==1.13
enum_tools==0.12.0
env==0.1.0
envpool==0.8.4
Flask==3.1.0
gym==0.26.2
gym_sokoban==0.0.6
gym_super_mario_bros==7.4.0
gymnasium==1.0.0
h5py==3.13.0
hbutils==0.11.0
hickle==5.0.3
imageio==2.37.0
Jinja2==3.1.5
kaggle_environments==1.16.11
kubernetes==32.0.1
linklink==0.0.0
lz4==4.4.3
matplotlib==3.10.0
mc==0.0
mpire==2.10.2
nes_py==8.2.1
numba==0.61.0
numpy==2.2.3
pandas==2.2.3
pettingzoo==1.24.3
Pillow==11.1.0
pynng==0.8.1
pysc2==4.0.0
pytest==8.3.4
PyYAML==6.0.2
readerwriterlock==1.0.9
rediscluster==0.5.3
Requests==2.32.3
responses==0.25.6
s2clientprotocol==5.0.14.93333.0
scikit_learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
setuptools==75.3.0
slimevolleygym==0.1.0
sumolib==1.22.0
tabulate==0.9.0
tensorboardX==2.6.2.2
torch==2.6.0
torch_geometric==2.6.1
torchvision==0.21.0
traci==1.22.0
trueskill==0.4.5
urlobject==2.4.3
wandb==0.19.7
yapf==0.43.0
